.mainNav{
    background-color: darkcyan;   
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
    font-size: 120%;
}